*-commands.sh
.Rproj.user
.snakemake
__pycache__
data/ensembl/vep/
data/evaluation/
data/panel/*/*-superpops.tsv
data/panel/*/*-trios.tsv
data/panel/*/vcf/
data/reference/GRCh38/
data/source/*/*-trios.tsv
data/source/*/bam/
data/source/*/cram/
data/source/*/fastq/
data/source/*/gVCF/
filereport_read_run_*
igsr*.tsv
igsr/
logs/
nohup*
refpanel-*.log
scripts/metadata.R
tmp/