*-commands.sh
.snakemake
__pycache__
dag.pdf
data/panel/*/vcf/
data/reference/GRCh38/
data/source/*/bam/
data/source/*/cram/
data/source/*/fastq/
data/source/*/gVCF/
logs/
nohup*
rulegraph.pdf
scripts/metadata.R