*-commands.sh
.snakemake
__pycache__
data/panel/*/*-superpops.tsv
data/panel/*/*-trios.tsv
data/panel/*/vcf/
data/reference/GRCh38/
data/source/*/*-trios.ped
data/source/*/*-trios.tsv
data/source/*/bam/
data/source/*/cram/
data/source/*/fastq/
data/source/*/gVCF/
logs/
nohup*
scripts/metadata.R